---
title: 'IFCN 2019'
layout: layouts/resource.njk
date: 2019-06-12
type: pdf
image: "/assets/images/content/news/gbc-event.png"
resource_link: "/assets/images/content/news/Program-June-12-2019.pdf"
excerpt: The International Federation of Clinical Neurophysiology annual meeting was held on June 12th, 2019. This event was titled Neural Basis of human consciousness - phenomena, paradigms, and exploring techniques. Follow the link to see the program schedule.
---