---
title: 'GBC Plenary Meeting 2019'
layout: layouts/resource.njk
date: 2019-05-09
type: pdf
image: "/assets/images/content/gbc2019/b1.png"
resource_link: "/assets/images/content/gbc2019/gbc2019.pdf"
excerpt: The GBC plenary meeting was held at the Montreal Neurological Institute-Hospital on May 9th to 10th, 2019. This meeting hosted 40 to 50 international invitees with 7 breakout sessions covering various topics about knowledge translation and use. Follow the link to see the meeting brochure as a PDF.
---