---
title: '2020 Cuba Workshop'
layout: layouts/resource.njk
date: 2020-02-27
type: resource
image: "/assets/images/content/cuba2020/cuba2020.jpg"
resource_link: "/event-cuba-feb2020"
excerpt: The GBC Workshop was held in Varadero, Cuba on February 27th to March 1st, 2020. This second GBC meeting featured 76 delegates from academic institutions, governmental and global organizations and was attended in-person. During the event, 9 working groups met to present updates and ongoing activities. Highlights include - Research Priorities, Research Standards, Best Practices. Follow the link to read more.
---