---
title: '2021 Annual Meeting'
layout: layouts/resource.njk
date: 2021-11-22
type: resource
image: "/assets/images/content/gbc2021/gbc-bg-thumb.png"
resource_link: "/event-annualMeeting-nov2021"
excerpt: The third annual GBC meeting was held over 2 half-days in late November 2021, and featured highlights and planning activities from GBC Projects. Follow the link to read more.
---