---
title: '2021 Vera Gross Lecture - Dr. Janina Galler'
layout: layouts/resource.njk
date: 2021-11-23
type: youtube
image: "/assets/images/content/news/JaninaGaller.jpg"
resource_link: "https://www.youtube.com/watch?v=r0a2_3BKAqE"
excerpt: Dr. Janina Galler, MD, PhD, delivered the inaugural Vera Gross Lecture on Life-Span and Intergenerational Legacy of Early Childhoof Malnutrition on Brain and Behavior - the 48+ Year Barbados Nutrition Study. This lecture was held in conjunction with the  annual assembly of the Global Brain Consortium on November 23, 2021. Dr. Galler from the Harvard Medical School presented the Barbados Nutrition Study for this public presentation. Since the 1970s this multidisciplinary developmental project has studied the lifelong effects of early malnutrition and associated childhood adversities. It includes long-term clinical and demographic data collection, social outcomes and EEG data collection. Follow the link to YouTube to watch the recording.


---