---
title: 'BrainLat Symposium 2021'
layout: layouts/resource.njk
date: 2021-10-29
type: external
image: "/assets/images/content/news/brainlat.jpg"
resource_link: "https://brainlat.uai.cl/eeg-biomarkers-of-brain-health-and-dementia/"
excerpt: The BrainLat institute held an event titled EEG biomarkers of brain health and dementia on October 29th to 30th, 2021 at 10:00 am CST. This symposium featured advances from the Latin-American Research Network and ISTAART Electrophysiology Professional Interest Area. Follow the link to read more.
---