---
title: '2021 IOP conference'
layout: layouts/resource.njk
date: 2021-09-07
type: youtube
image: "/assets/images/content/news/IOP2021.png"
resource_link: "https://www.youtube.com/playlist?list=PLd7drEYPjjkL72Y5mfWlAoKSH5eqnsQfC"
excerpt: The 20th World Congress of Psychophysiology was held on September 7th to 11th, 2021. This event featured GBC-related research and activities. Follow the link to see our presentations on YouTube.
---