---
title: 'ICCN 2022 Geneva'
layout: layouts/resource.njk
date: 2022-09-04
type: external
image: "/assets/images/content/news/gbc-bg-thumb.png"
resource_link: "https://ifcn.site-ym.com/mpage/ProgrammeOverview"
excerpt: The International Congress of Clinical Neurophysiology (ICCN) was held on September 4th to 8th, 2022. There were two symposia organized by the GBC-OHBM-IFCN. The first symposia was Quantitative Neuroimaging of Public Health problems, Examples from Latin America, chaired by Jorge Bosch-Bayard (Montreal Neurological Institute). The second symposia was EEG in the clouds, chaired by Pedro A. Valdes Sosa. Follow the link to see the program overview.
---