---
title: 'INCF Assembly 2022'
layout: layouts/resource.njk
date: 2022-09-12
type: external
image: "/assets/images/content/news/incf-2022.png"
resource_link: "https://neuroinformatics.incf.org/2022/sessions"
excerpt: The International Neuroinformatics Coordinating Facility (INCF) was held on September 12th to 16th, 2022. There were two symposia organized by the GBC - GBC's EEG normative initiative for creating standards for MEEG analysis and EEG, the interface between neuroinformatics and clinical/basic science research. Speakers for the event were Pedro Valdes-Sosa, Joseph Picone, Christine Rogers, Scott Makeig, Michael Milham, Roberto Rodriguez, Tomas Ros, Jorge Bosch-Bayard. Follow the link to read more.
---