---
title: 'EEGNet Virtual Colloquium'
layout: layouts/resource.njk
date: 2024-05-10
type: external
image: "/assets/images/content/eegnet2023/eegnet-thumb.png"
resource_link: "https://eegnet.org/"
excerpt: This virtual meeting was held on May 10th, 2023, at 9am EDT. Moderated by Alan Evans, this event featured presentations by Pedro Valdes-Sosa, Jorge Bosch-Bayard, and Christine Rogers. Follow the link to eegNet.org for more information.
---