---
title: '2023 Annual Meeting'
layout: layouts/resource.njk
date: 2023-03-22
type: resource
image: "/assets/images/content/gbc2023/gbc-meeting-2023.png"
resource_link: "/event-annualMeeting-march2023"
excerpt: This virtual meeting was held on March 22nd to 23rd, 2023, at 9am to 12pm EDT. This event highlighted the achievements of 2022, and introduced new projects in 2023 with inspirational presentations by outstanding researchers. The Vera Gross public lecture was presented by Dr. Michael P. Milham, Vice-president of the Child Mind Institute. Follow the link to read more.
---