---
title: '2023 Vera Gross Lecture - Dr. Michael Milham'
layout: layouts/resource.njk
date: 2023-03-22
type: youtube
image: "/assets/images/content/news/Milham_Michael_updated_CMI-400x225.jpg"
resource_link: "https://www.youtube.com/watch?v=SIQzQRLme08"
excerpt: Dr. Michael Milham MD, PhD, delivered the Vera Gross Lecture on the Multimodal Characterization of Brain and Behavior - The Last Missing Ingredient for Precision Neuropsychiatry. This lecture was held in conjunction with the  annual assembly of the Global Brain Consortium on March 22, 2023. Dr. Milham is an internationally recognized neuroscience researcher and the Vice-President of the Child Mind Institute in New York City. He is the founding director of its Center for the Developing Brain and a practicing child and adolescent psychiatrist. Dr. Milham’s research interests include investigating how functional and structural connectivity in the brain may underlie differing forms of mental illness, and seeking to chart the course of brain development in healthy and affected children. Follow the link to YouTube to watch the recording.
---