---
title: '2024 Vera Gross Lecture - Dr. Michael Breakspear'
layout: layouts/resource.njk
date: 2024-08-01
type: youtube
image: "/assets/images/content/news/michael-breakspear.png"
resource_link: "https://www.youtube.com/@globalbrainconsortium5973"
excerpt: Dr. Michael Breakspear delivered the Vera Gross lecture on The Wave-Particle Theory of Brain Dynamics. This lecture was held in conjuction with the annual assembly of the Global Brain Consortium on September 6, 2024. Dr. Breakspear is a Psychiatrist and Neuroscientist researching the principles of brain function in health and in mental illness. Professor Breakspear leads the Systems Neuroscience Group – a team of psychiatrists, physicists, psychologists and neuroimaging scientists at the University of Newcastle and Hunter Medical Research Institute, Australia. He uses computational modelling to study the generative processes underlying bipolar disorder, schizophrenia, dementia and in healthy ageing. Follow the link to YouTube to watch the recording.
---