---
title: 'GBC at TedX Chengdu'
layout: layouts/resource.njk
date: 2024-12-19
type: youtube
image: "/assets/images/content/tedX/TEDxChengdu2024a.png"
resource_link: "https://youtu.be/p26azhbQHWw"
excerpt: Recently, Dr. Pedro Valdes-Sosa spoke at the TedX conference in Chengdu, China about the Global Brain Consortium’s vision for Population Brain health. 
---