---
title: 'Educational Course at OHBM'
layout: layouts/resource.njk
date: 2024-06-23
type: external
image: "/assets/images/content/ohbm2024/hbm2401_banner.jpg"
resource_link: "https://ww6.aievolution.com/hbm2401/index.cfm?do=ev.viewEv&ev=1566"
excerpt: This event was held in Seoul, Korea on June 23rd, 2024, from 9am to 5:30pm KST. Featured speakers were Pedro Valdes-Sosa, Maria Bringas-Vega, Alan Evans, and Qing Wang. Follow the link to find out more.
---