---
title: 'EEGNet Spring Colloquium 2024'
layout: layouts/resource.njk
date: 2024-06-23
type: youtube
image: "/assets/images/content/colloquium2024/eegnet-thumb-2024.png"
resource_link: "https://youtu.be/PpC20ch8uPw?si=7C_yp_7Z8vRQp3rM"
excerpt: This virtual meeting was held on May 23rd, 2024, at 11am EDT. This event featured presentations by Alan Evans, Pedro Valdes-Sosa, Jorge Bosch-Bayard, Christine Rogers, Sid Segalowitz, Philippe Albouy, Sarah Lippé, and Faisal Mushtaq. Follow the link to YouTube to watch the recording.
---