---
title: '2024 Annual Assembly of the GBC'
layout: layouts/resource.njk
date: 2024-08-12
type: resource
image: "/assets/images/content/GBC2024/gbc-meeting-2024a.png"
resource_link: "/event-annualMeeting-sept2024"
excerpt: We are delighted to announce the upcoming Global Brain Consortium (GBC) Annual Meeting from September 6th to 8th, 2024, held in Chengdu, China. This event is in celebration of the 100th anniversary of the discovery of the Electroencephalogram (EEG) by Hans Berger. There are two modalities for this event, in-person and virtual. Please follow the link for more information.
---