---
title: 'EEG Tools for Quantitative EEG Analysis (qEEG) at the Montreal Neurological Institute Ecosystem for Open Science: CBRAIN & LORIS'
layout: layouts/resource.njk
date: 2024-07-08
type: youtube
image: "/assets/images/content/news/NewsqEEG.jpg"
resource_link: "https://youtu.be/2ljoZQktLos"
excerpt: qEEG tools in CBRAIN presented at OHBM 2024, Seoul, Korea on July 8th, 2024. Developed as part of the Global EEG Norms project of the Global Brain Consortium, this project takes advantage of the computer resources available at Brain Compute Canada. Follow the link to see this course which includes steps on how to prepare data and run qEEG facilities on CBRAIN.
---