---
title: 'An article featuring Pedro Valdes-Sosa published in Science'
layout: layouts/resource.njk
date: 2025-02-26
type: external
image: "/assets/images/content/front-page/pedro_valdes-sosa-2.jpg"
resource_link: "https://www.science.org/content/article/cuban-brain-researcher-went-viral-chinese-tv-here-s-why"
excerpt: Cuban neuroinformaticist Pedro Antonio Valdés Sosa wrote in October 2023 to Xi Jinping, China’s leader, hailing the two Communist nations’ budding collaboration in brain science. 
---