---
title: Global Brain Consortium - Contact
description: Contact the Global Brain Consortium
layout: layouts/main.njk
---
{% row %}
  <div class="bg-c-fg1-l  grid place-content-center max-w-screen-xl px-8 lg:px-16 pt-8 mx-auto lg:pt-12 lg:grid-cols-12">
    <div class="mr-auto place-self-center lg:col-span-12">
      <h1
        class="text-center uppercase text-colour-dark  lg:text-left mb-4 text-3xl/snug font-extrabold tracking-normal md:text-4xl/snug xl:text-5xl/snug ">
        Contact Us</h1>
      <p
        class=" text-center lg:text-left mb-5 mt-5 font-light text-colour-dark mx-15 md:mx-5 md:ml-0 md:mr-6 lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
        For general enquiries relating to the Immersive Healthcare Collaboration, please use the form below.
      </p>
      <p
        class=" text-center lg:text-left mb-5 mt-5 font-light text-colour-dark mx-15 md:mx-5 md:ml-0 md:mr-6 lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
        To express your interest in joining the Immersive Healthcare Collaboration, please see the <a class="underline" href="{{'/join' | url}}">sign-up form.</a>
      </p>
    </div>
  </div>
</div>
{% endrow %}

{% row %}
<div class="bg-c-fg1-l max-w-screen-xl px-4 py-5 mx-auto lg:px-16 lg:py-8">
  <div class="max-w-screen-xl px-4 mx-auto lg:grid-cols-12">
    <h2
        class="text-center text-colour-dark  lg:text-left mb-10 text-xl/snug font-extrabold tracking-normal md:text-2xl/snug xl:text-3xl/snug ">
        General Enquiries</h2>
  <div class="max-w-lg px-4 pb-8 mx-auto lg:mx-0">
    <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xeqbbzdq" method="post">
  <fieldset class="flex flex-col" id="fs-frm-inputs">
    <label class="form-label-required  " for="forename">Name:</label>
    <input class="form-input" type="text" name="forename" id="forename" placeholder="" required="True">

    <label class="form-label-required  " for="email-address">Email Address:</label>
    <input class="form-input" type="email" name="email-address" id="email-address" placeholder="" required="True">
    
    <label class="form-label-required  " for="surname">Subject:</label>
    <input class="form-input" type="text" name="_subject" id="email-subject" placeholder="" required="True">


    <label class="form-label-required  " for="message">Message:</label>
    <textarea class="form-input" rows="5" name="message" id="message" placeholder="" required="True"></textarea>
	
  </fieldset>
  <input class="mx-auto lg:mx-0 button-square-primary  mt-8" type="submit" value="Submit">
</form>
</div>
</div>
</div>
{% endrow %}