---
title: 2024 Annual Assembly of the Global Brain Consortium
description: About the 2024 GBC Annual Assembly
layout: layouts/main.njk
---

{% row %}
  <div class="bg-c-fg1-l  grid place-content-center max-w-screen-xl px-8 lg:px-16 pt-8 mx-auto lg:pt-12 lg:grid-cols-12">
    <div class="mr-auto place-self-center lg:col-span-12">
      <h1
        class="text-center uppercase text-colour-dark  lg:text-left mb-4 text-3xl/snug font-extrabold tracking-normal md:text-4xl/snug xl:text-5xl/snug ">
        2024 Annual Assembly of the GBC</h1>

      <img src={{"/assets/images/content/GBC2024/GBC-GA2024-Logo.jpg" | url}} alt="Banner image of the 2024 GBC Assembly'">

      <p
        class=" text-center lg:text-left mb-8 mt-5 font-light text-colour-dark mx-15 md:mx-5 md:ml-0 md:mr-6 lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
        We are delighted to reflect on the success of the recent Global Brain Consortium (GBC) Annual Meeting, which took place from September 6th to 8th, 2024, and was held in Chengdu, China, in celebration of the 100th anniversary of the discovery of the Electroencephalogram (EEG) by Hans Berger. This landmark event, titled ‘Celebrating 100 Years of EEG: Milestones and Future,’ brought together leading experts in computational neuroscience, neuroscience methodology, and experimental neuroscience to engage in in-depth discussions on various aspects of brain research. Outstanding scientists delivered Keynote lectures and chaired state-to-the-art symposia on different topics. As in previous years, the contributions were focused on promoting Open Science and facilitating access to international databases, increasing computing power, and advanced methodologies in Low and Middle-Income countries.
      </p>
      <p
        class=" text-center lg:text-left mb-8 mt-5 font-light text-colour-dark mx-15 md:mx-5 md:ml-0 md:mr-6 lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
        The meeting was integrated within the 2024 Belt and Road International Conference on Advancing Population Brain Health through Brain Apparatus Communication, chaired by Dezhong Yao.
      </p>
      <p
        class=" text-center lg:text-left mb-8 mt-5 font-light text-colour-dark mx-15 md:mx-5 md:ml-0 md:mr-6 lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
        The event was divided into two modalities:
      </p>
      
      <div class="grid lg:grid-cols-1 gap-8">      
        <div class="grid lg:gap-8 place-content-center w-full h-full bg-c-bg2-l  rounded-lg py-8 px-8 place-self-center col-span-1 lg:grid-cols-5">
          <div class="col-span-5 place-self-center lg:col-span-1">
            <p class="place-self-center text-center text-3xl p-2 lg:text-6xl align-middle mx-auto my-auto">1</p>
          </div>
          <div class="col-span-4">            
            <p
              class="text-center lg:text-left mx-auto my-auto font-light text-colour-dark  md:text-lg/normal lg:text-xl/normal">
              In-Person modality: Held from 09:00 to 17:15, Chengdu time, on September 7th and 8th. The In-Person program can be viewed <a href="http://neurotech-2024.com/index.html?moduleKey=e" target="_blank" class="font-extrabold text-colour-secondary hover:underline">here</a>.
            </p>
          </div>
        </div>
     
        <div class="grid lg:gap-8 place-content-center w-full h-full bg-c-bg2-l  rounded-lg py-8 px-8 place-self-center col-span-1 lg:grid-cols-5">
          <div class="col-span-5 place-self-center lg:col-span-1">
            <p class="place-self-center text-center text-3xl p-2 lg:text-6xl align-middle mx-auto my-auto">2</p>
          </div>
          <div class="col-span-4">            
            <p
              class="text-center lg:text-left mx-auto my-auto font-light text-colour-dark  md:text-lg/normal lg:text-xl/normal">
              Online modality: Took place 20:00 to 24:00, Chengdu time, from September 6th and 8th.  Please view the Online program <a href="{{'/assets/images/content/GBC2024/GBC-online-program-2024.pdf' | url}}" class="font-extrabold text-colour-secondary hover:underline">here (PDF)</a>.
            </p>
          </div>
        </div>
      </div>

      <p
        class=" text-center lg:text-left mb-8 mt-5 font-light text-colour-dark mx-15 md:mx-5 md:ml-0 md:mr-6 lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
        As in previous editions, we enjoyed a Vera Gross Lecture, this time offered by Dr. Michael Breakspear, as part of the Online meeting on the 6th. Also, the Online meeting on the 6th featured a Special E. Roy John Memorial Symposium, to commemorate Dr. E. Roy John’s Centennial.
      </p>
      <p
        class=" text-center lg:text-left mb-8 mt-5 font-light text-colour-dark mx-15 md:mx-5 md:ml-0 md:mr-6 lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
        This annual international meeting aimed to provide a platform for thoughtful discussions, knowledge sharing, and the fostering of meaningful collaborations. As esteemed scientific community members, your participation in this event was invaluable. On behalf of the organizing committee, we thank everyone for their invaluable contributions to this prestigious gathering. Your expertise and contributions undoubtedly enriched the discourse and advanced the collective understanding of brain research.
      </p>
      <div class="mx-auto justify-center md:justify-start mx-15">
          <a href="http://neurotech-2024.com/index.html" target="_blank" rel="noopener noreferrer" class="mx-auto md:mt-5 md:mr-6 button-square-primary  ">
            Go To Website
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                  stroke="currentColor" class="w-5 h-5 ml-2 -mr-1">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
              </svg>
          </a>
      </div>

    </div>
  </div>
{% endrow %}
