---
title: Global Brain Consortium Annual Meetings
description: Annual Meetings of the Global Brain Consortium
layout: layouts/main.njk
---

{% row %}
  <div class="bg-c-fg1-l  grid place-content-center max-w-screen-xl px-8 lg:px-16 pt-8 mx-auto lg:pt-12 lg:grid-cols-12">
    <div class="mr-auto place-self-center lg:col-span-12">
      <h1
        class="text-center uppercase text-colour-dark  lg:text-left mb-4 text-3xl/snug font-extrabold tracking-normal md:text-4xl/snug xl:text-5xl/snug ">
        GBC Annual Meeting</h1>
      <!-- <p
        class=" text-center lg:text-left mb-8 mt-5 font-light text-colour-dark mx-15 md:mx-5 md:ml-0 md:mr-6 lg:mb-16 md:text-lg/normal lg:text-xl/normal  ">
        GBC projects are collaborative neuroscience initiatives to increase access for LMIC to neuroelectrophysiology data access, standards, neuroinformatics methods and infrastructure, best practices for open science in the international arena, and potential applications for disease/disorder discovery or equitable global mental health.
      </p> -->
    </div>
  </div>
{% endrow %}

{% row %}
<div class="bg-c-fg1-l max-w-screen-xl px-4 py-5 mx-auto lg:px-16 lg:py-8">
    <div class="bg-c-bg2-l   max-w-screen-xl rounded-xl px-8 pb-8 pt-8 mx-auto my-8 solid-shadow  ">
      
      <h3
        class="text-center text-gray-500  lg:text-left mb-4 text-sm/snug tracking-normal md:text-md/snug xl:text-lg/snug ">
        Aug 12, 2024</h3>
      <h3
      class="text-center text-colour-dark lg:text-left mb-4 width-full text-2xl/snug font-extrabold tracking-normal md:text-3xl/snug xl:text-4xl/snug ">
      2024 Annual Assembly of the GBC</h3>
      

      <div class="flex flex-wrap max-w-screen-xl py-8 mx-auto">
        <div class="px-10 py-2 max-w-sm lg:w-1/3 justify-center mx-auto"> 
            <img src={{"/assets/images/content/GBC2024/gbc-meeting-2024a.png" | url}}>
        </div>

        <div class="mx-auto place-self-center {% if resource.data.image != ''%}md:w-2/3{%else%}md:w-full{%endif%}">
          <p
            class="select-none text-center lg:text-left mb-5 mt-5 font-light text-colour-dark lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
            We are delighted to announce the upcoming Global Brain Consortium (GBC) Annual Meeting from September 6th to 8th, 2024, held in Chengdu, China. This event is in celebration of the 100th anniversary of the discovery of the Electroencephalogram (EEG) by Hans Berger. There are two modalities for this event, in-person and virtual. Please follow the link for more information.
          </p>
          <div class="flex mx-auto justify-center md:justify-start mx-15">
                <a href="{{'/event-annualMeeting-sept2024' | url}}" class=" mx-auto lg:mx-0 md:mt-5 button-square-primary  ">
                    Read More
                    <svg class="ml-2 w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke-width="1.5" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                    </svg>
                </a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-c-bg2-l   max-w-screen-xl rounded-xl px-8 pb-8 pt-8 mx-auto my-8 solid-shadow  ">
      
      <h3
        class="text-center text-gray-500  lg:text-left mb-4 text-sm/snug tracking-normal md:text-md/snug xl:text-lg/snug ">
        Mar 22, 2023</h3>
      <h3
      class="text-center text-colour-dark lg:text-left mb-4 width-full text-2xl/snug font-extrabold tracking-normal md:text-3xl/snug xl:text-4xl/snug ">
      2023 Annual Meeting</h3>
      

      <div class="flex flex-wrap max-w-screen-xl py-8 mx-auto">
        <div class="px-10 py-2 max-w-sm lg:w-1/3 justify-center mx-auto"> 
            <img src={{"/assets/images/content/gbc2023/gbc-meeting-2023.png" | url}}>
        </div>

        <div class="mx-auto place-self-center {% if resource.data.image != ''%}md:w-2/3{%else%}md:w-full{%endif%}">
          <p
            class="select-none text-center lg:text-left mb-5 mt-5 font-light text-colour-dark lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
            This virtual meeting was held on March 22nd to 23rd, 2023, at 9am to 12pm EDT. This event highlighted the achievements of 2022, and introduced new projects in 2023 with inspirational presentations by outstanding researchers. The Vera Gross public lecture was presented by Dr. Michael P. Milham, Vice-president of the Child Mind Institute. Follow the link to read more.
          </p>
          <div class="flex mx-auto justify-center md:justify-start mx-15">
                <a href="{{'/event-annualMeeting-march2023' | url}}" class=" mx-auto lg:mx-0 md:mt-5 button-square-primary  ">
                    Read More
                    <svg class="ml-2 w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke-width="1.5" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                    </svg>
                </a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-c-bg2-l   max-w-screen-xl rounded-xl px-8 pb-8 pt-8 mx-auto my-8 solid-shadow  ">
      
      <h3
        class="text-center text-gray-500  lg:text-left mb-4 text-sm/snug tracking-normal md:text-md/snug xl:text-lg/snug ">
        Nov 22, 2021</h3>
      <h3
      class="text-center text-colour-dark lg:text-left mb-4 width-full text-2xl/snug font-extrabold tracking-normal md:text-3xl/snug xl:text-4xl/snug ">
      2021 Annual Meeting</h3>
      

      <div class="flex flex-wrap max-w-screen-xl py-8 mx-auto">
        <div class="px-10 py-2 max-w-sm lg:w-1/3 justify-center mx-auto"> 
            <img src={{"/assets/images/content/gbc2021/gbc-bg-thumb.png" | url}}>
        </div>

        <div class="mx-auto place-self-center {% if resource.data.image != ''%}md:w-2/3{%else%}md:w-full{%endif%}">
          <p
            class="select-none text-center lg:text-left mb-5 mt-5 font-light text-colour-dark lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
            The third annual GBC meeting was held over 2 half-days in late November 2021, and featured highlights and planning activities from GBC Projects. Follow the link to read more.
          </p>
          <div class="flex mx-auto justify-center md:justify-start mx-15">
                <a href="{{'/event-annualMeeting-nov2021' | url}}" class=" mx-auto lg:mx-0 md:mt-5 button-square-primary  ">
                    Read More
                    <svg class="ml-2 w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke-width="1.5" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                    </svg>
                </a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-c-bg2-l   max-w-screen-xl rounded-xl px-8 pb-8 pt-8 mx-auto my-8 solid-shadow  ">
      
      <h3
        class="text-center text-gray-500  lg:text-left mb-4 text-sm/snug tracking-normal md:text-md/snug xl:text-lg/snug ">
        Feb 27, 2020</h3>
      <h3
      class="text-center text-colour-dark lg:text-left mb-4 width-full text-2xl/snug font-extrabold tracking-normal md:text-3xl/snug xl:text-4xl/snug ">
      2020 Cuba Workshop</h3>
      

      <div class="flex flex-wrap max-w-screen-xl py-8 mx-auto">
        <div class="px-10 py-2 max-w-sm lg:w-1/3 justify-center mx-auto"> 
            <img src={{"/assets/images/content/cuba2020/cuba2020.jpg" | url}}>
        </div>

        <div class="mx-auto place-self-center {% if resource.data.image != ''%}md:w-2/3{%else%}md:w-full{%endif%}">
          <p
            class="select-none text-center lg:text-left mb-5 mt-5 font-light text-colour-dark lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
            The GBC Workshop was held in Varadero, Cuba on February 27th to March 1st, 2020. This second GBC meeting featured 76 delegates from academic institutions, governmental and global organizations and was attended in-person. During the event, 9 working groups met to present updates and ongoing activities. Highlights include - Research Priorities, Research Standards, Best Practices. Follow the link to read more.
          </p>
          <div class="flex mx-auto justify-center md:justify-start mx-15">
                <a href="{{'/event-cuba-feb2020' | url}}" class=" mx-auto lg:mx-0 md:mt-5 button-square-primary  ">
                    Read More
                    <svg class="ml-2 w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke-width="1.5" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                    </svg>
                </a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-c-bg2-l   max-w-screen-xl rounded-xl px-8 pb-8 pt-8 mx-auto my-8 solid-shadow  ">
      
      <h3
        class="text-center text-gray-500  lg:text-left mb-4 text-sm/snug tracking-normal md:text-md/snug xl:text-lg/snug ">
        May 9, 2019</h3>
      <h3
      class="text-center text-colour-dark lg:text-left mb-4 width-full text-2xl/snug font-extrabold tracking-normal md:text-3xl/snug xl:text-4xl/snug ">
      GBC Plenary Meeting 2019</h3>
      

      <div class="flex flex-wrap max-w-screen-xl py-8 mx-auto">
        <div class="px-10 py-2 max-w-sm lg:w-1/3 justify-center mx-auto"> 
            <img src={{"/assets/images/content/gbc2019/b1.png" | url}}>
        </div>

        <div class="mx-auto place-self-center {% if resource.data.image != ''%}md:w-2/3{%else%}md:w-full{%endif%}">
          <p
            class="select-none text-center lg:text-left mb-5 mt-5 font-light text-colour-dark lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
            The GBC plenary meeting was held at the Montreal Neurological Institute-Hospital on May 9th to 10th, 2019. This meeting hosted 40 to 50 international invitees with 7 breakout sessions covering various topics about knowledge translation and use. Follow the link to see the meeting brochure as a PDF.
          </p>
          <div class="flex mx-auto justify-center md:justify-start mx-15">
                <a href="{{'/assets/images/content/gbc2019/gbc2019.pdf' | url}}" class=" mx-auto lg:mx-0 md:mt-5 button-square-primary  ">
                    Read More
                    <svg class="ml-2 w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke-width="1.5" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                    </svg>
                </a>
          </div>
        </div>
      </div>
    </div>

    </div>

{% endrow %}
