---
title: Global Brain Consortium - Contact Page
description: Contact page 
layout: layouts/main.njk
eleventyNavigation:
  key: contact
  title: Contact
  order: 6
---

{% row %}
  <div class="bg-c-fg1-l  grid place-content-center max-w-screen-xl px-8 lg:px-16 pt-8 mx-auto lg:pt-12 lg:grid-cols-12">
    <div class="mr-auto place-self-center lg:col-span-12">
      <h1
        class="text-center uppercase text-colour-dark  lg:text-left mb-4 text-3xl/snug font-extrabold tracking-normal md:text-4xl/snug xl:text-5xl/snug ">
        Contact the Global Brain Consortium</h1>
      <p
        class=" text-center lg:text-left mb-5 mt-5 font-light text-colour-dark mx-15 md:mx-5 md:ml-0 md:mr-6 lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
        There are several ways to get involved in the GBC:

        <ul class="list-disc list-outside font-light text-colour-dark mx-15 md:mx-5 md:ml-6 md:mr-6 lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
          <li class="mb-4">Share your unique perspectives, experiences, and knowledge with members around the world to create solutions that positively impact global mental health.</li>
          <li class="mb-4">Enhance your expertise by networking with leading professionals, discovering the latest trends in brain imaging, leveraging your scientific research, and being part of a global brain network.</li>
          <li class="mb-4">Become a member of one of our working groups or create your own special interest group.</li>
        </ul>
      </p>
    </div>
  </div>
</div>
{% endrow %}

{% row %}
<div class="bg-c-fg1-l max-w-screen-xl px-4 py-5 mx-auto lg:px-16 lg:py-8">
  <div class="max-w-screen-xl px-4 mx-auto lg:grid-cols-12">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeKTq37geZBhpgo8r6PSBeHWcHuFhOd_VWYekJnPNiVBRdbKw/viewform?embedded=true" class="contact-form">Loading…</iframe>    
  </div>
</div>
{% endrow %}