---
title: Global Brain Consortium - Projects
description: Projects of the Global Brain Consortium
layout: layouts/main.njk
eleventyNavigation:
  key: projects
  title: Projects
  order: 2
---

{% row %}
  <div class="bg-c-fg1-l  grid place-content-center max-w-screen-xl px-8 lg:px-16 pt-8 mx-auto lg:pt-12 lg:grid-cols-12">
    <div class="mr-auto place-self-center lg:col-span-12">
      <h1
        class="text-center uppercase text-colour-dark  lg:text-left mb-4 text-3xl/snug font-extrabold tracking-normal md:text-4xl/snug xl:text-5xl/snug ">
        Projects</h1>
      <p
        class=" text-center lg:text-left mb-8 mt-5 font-light text-colour-dark mx-15 md:mx-5 md:ml-0 md:mr-6 lg:mb-16 md:text-lg/normal lg:text-xl/normal  ">
        GBC projects are collaborative neuroscience initiatives to increase access for low- and middle- income countries (LMIC) to neuroelectrophysiology data access, standards, neuroinformatics methods and infrastructure, best practices for open science in the international arena, and potential applications for disease/disorder discovery or equitable global mental health.
      </p>
    </div>
  </div>
{% endrow %}

{% row %}
<div class="bg-c-fg1-l max-w-screen-xl px-4 py-5 mx-auto lg:px-16 lg:py-8">
    <div class="bg-c-bg2-l   max-w-screen-xl rounded-xl px-8 pb-8 pt-8 mx-auto my-8 solid-shadow  ">
      <h3
      class="text-center text-gray-500  lg:text-left mb-4 text-sm/snug tracking-normal md:text-md/snug xl:text-lg/snug ">
      <a href="{{'/project-eegNorms' | url}}" rel="noopener noreferrer"
      class="text-center text-colour-dark hover:underline  lg:text-left mb-4 width-full text-2xl/snug font-extrabold tracking-normal md:text-3xl/snug xl:text-4xl/snug ">
      Global EEG Norms</a></h3>
      

      <div class="flex flex-wrap max-w-screen-xl py-8 mx-auto">
        <div class="flex px-10 py-2 max-w-sm lg:w-1/3 justify-center mx-auto"> 
          <a href="{{'/project-eegNorms' | url}}">
            <img src={{"/assets/images/content/projects/norms-processing-pipeline.jpg" | url}} alt="Global EEG Norms Image">
          </a>
        </div>

        <div class="mx-auto place-self-center {% if resource.data.image != ''%}md:w-2/3{%else%}md:w-full{%endif%}">
          <p
            class="select-none text-center lg:text-left mb-5 mt-5 font-light text-colour-dark lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
            With the increase of large collaboration and data sharing, EEG data faces the critical barrier of replicability and data pooling problems. Especially for quantitative EEG (qEEG) analysis. The characterized age-frequency distribution of log-spectrum may lose reliability for clinical diagnosis when people gather datasets from different sites recorded at a different time with varying data acquisition protocols because of batch effects. These issues must be addressed and further factors identified on a global scale.
          </p>
          <div class="flex mx-auto justify-center md:justify-start mx-15">
                <a href="{{'/project-eegNorms' | url}}" class=" mx-auto lg:mx-0 md:mt-5 button-square-primary  ">
                    Go To Project Page
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                        stroke="currentColor" class="w-5 h-5 ml-2 -mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-c-bg2-l   max-w-screen-xl rounded-xl px-8 pb-8 pt-8 mx-auto my-8 solid-shadow  ">
      <h3
      class="text-center text-gray-500  lg:text-left mb-4 text-sm/snug tracking-normal md:text-md/snug xl:text-lg/snug ">
      <a href="{{'/project-malnutrition' | url}}" rel="noopener noreferrer"
      class="text-center text-colour-dark hover:underline  lg:text-left mb-4 width-full text-2xl/snug font-extrabold tracking-normal md:text-3xl/snug xl:text-4xl/snug ">
      Malnutrition and Brain Development</a></h3>
      

      <div class="flex flex-wrap max-w-screen-xl py-8 mx-auto">
        <div class="flex px-10 py-2 max-w-sm lg:w-1/3 justify-center mx-auto"> 
          <a href="{{'/project-malnutrition' | url}}">
            <img src={{"/assets/images/content/projects/barbados-thumbnail.jpg" | url}} alt="Malnutrition and Brain Development Image">
          </a>
        </div>

        <div class="mx-auto place-self-center {% if resource.data.image != ''%}md:w-2/3{%else%}md:w-full{%endif%}">
          <p
            class="select-none text-center lg:text-left mb-5 mt-5 font-light text-colour-dark lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
            This project will enhance the studies on malnutrition in early life and its long-term effects on mental health and brain development over the lifespan and across generations. The initial project will focus on the Barbados Nutrition Study, a 50+ year longitudinal study that has followed the children with histories of malnutrition, their offspring and grandchildren and identified intergenerational effects of early life malnutrition and associated behavioral and mental health outcomes. An important aspect is the identification of early brain biomarkers of child malnutrition that predict adverse mental health outcomes in middle and late adulthood.
          </p>
          <div class="flex mx-auto justify-center md:justify-start mx-15">
                <a href="{{'/project-malnutrition' | url}}" class=" mx-auto lg:mx-0 md:mt-5 button-square-primary  ">
                    Go To Project Page
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                        stroke="currentColor" class="w-5 h-5 ml-2 -mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-c-bg2-l   max-w-screen-xl rounded-xl px-8 pb-8 pt-8 mx-auto my-8 solid-shadow  ">
      <h3
      class="text-center text-gray-500  lg:text-left mb-4 text-sm/snug tracking-normal md:text-md/snug xl:text-lg/snug ">
      <a href="{{'/project-covid' | url}}" rel="noopener noreferrer"
      class="text-center text-colour-dark hover:underline  lg:text-left mb-4 width-full text-2xl/snug font-extrabold tracking-normal md:text-3xl/snug xl:text-4xl/snug ">
      COVID-Induced Brain Dysfunction</a></h3>
      

      <div class="flex flex-wrap max-w-screen-xl py-8 mx-auto">
        <div class="flex px-10 py-2 max-w-sm lg:w-1/3 justify-center mx-auto"> 
          <a href="{{'/project-covid' | url}}">
            <img src={{"/assets/images/content/projects/gbc-bg-thumb.png" | url}} alt="GBC Project Image">
          </a>
        </div>

        <div class="mx-auto place-self-center {% if resource.data.image != ''%}md:w-2/3{%else%}md:w-full{%endif%}">
          <p
            class="select-none text-center lg:text-left mb-5 mt-5 font-light text-colour-dark lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
            COVID-19-Induced Brain Dysfunction (CIBD) will cause strain on world health systems as a result of the heterogeneity of manifestations. Neural, psychological, and social factors must be disentangled for effective population-level management of CIBD. This requires international cooperation leveraging open science and neurotechnologies appropriate for health systems. This project will attempt to organize an international collaboration towards this goal.
          </p>
          <div class="flex mx-auto justify-center md:justify-start mx-15">
                <a href="{{'/project-covid' | url}}" class=" mx-auto lg:mx-0 md:mt-5 button-square-primary  ">
                    Go To Project Page
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                        stroke="currentColor" class="w-5 h-5 ml-2 -mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-c-bg2-l   max-w-screen-xl rounded-xl px-8 pb-8 pt-8 mx-auto my-8 solid-shadow  ">
      <h3
      class="text-center text-gray-500  lg:text-left mb-4 text-sm/snug tracking-normal md:text-md/snug xl:text-lg/snug ">
      <a href="{{'/projects' | url}}" rel="noopener noreferrer"
      class="text-center text-colour-dark hover:underline  lg:text-left mb-4 width-full text-2xl/snug font-extrabold tracking-normal md:text-3xl/snug xl:text-4xl/snug ">
      Global Longitudinal Study on Child and Adolescent Brain Development</a></h3>
      

      <div class="flex flex-wrap max-w-screen-xl py-8 mx-auto">
        <div class="flex px-10 py-2 max-w-sm lg:w-1/3 justify-center mx-auto"> 
          <a href="{{'/projects' | url}}">
            <img src={{"/assets/images/content/projects/gbc-bg-thumb.png" | url}} alt="GBC Project Image">
          </a>
        </div>

        <div class="mx-auto place-self-center {% if resource.data.image != ''%}md:w-2/3{%else%}md:w-full{%endif%}">
          <p
            class="select-none text-center lg:text-left mb-5 mt-5 font-light text-colour-dark lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
            Following in the footsteps of the several successful longitudinal projects that characterize early brain development, it becomes evident that a similar project must be launched to increase the national diversity of the subjects studied. The project of this study aims to draft such a project adapting the measurements to the LMIC, as well as offering health solutions as part of the program.
          </p>
          <div class="flex mx-auto justify-center md:justify-start mx-15">
                <a href="{{'/projects' | url}}" class=" mx-auto lg:mx-0 md:mt-5 button-square-primary  ">
                    Coming Soon
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                        stroke="currentColor" class="w-5 h-5 ml-2 -mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-c-bg2-l   max-w-screen-xl rounded-xl px-8 pb-8 pt-8 mx-auto my-8 solid-shadow  ">
      <h3
      class="text-center text-gray-500  lg:text-left mb-4 text-sm/snug tracking-normal md:text-md/snug xl:text-lg/snug ">
      <a href="{{'/projects' | url}}" rel="noopener noreferrer"
      class="text-center text-colour-dark hover:underline  lg:text-left mb-4 width-full text-2xl/snug font-extrabold tracking-normal md:text-3xl/snug xl:text-4xl/snug ">
      Biomarkers of Parkinson's disease for Global Health</a></h3>
      

      <div class="flex flex-wrap max-w-screen-xl py-8 mx-auto">
        <div class="flex px-10 py-2 max-w-sm lg:w-1/3 justify-center mx-auto"> 
          <a href="{{'/projects' | url}}">
            <img src={{"/assets/images/content/projects/gbc-bg-thumb.png" | url}} alt="GBC Project Image">
          </a>
        </div>

        <div class="mx-auto place-self-center {% if resource.data.image != ''%}md:w-2/3{%else%}md:w-full{%endif%}">
          <p
            class="select-none text-center lg:text-left mb-5 mt-5 font-light text-colour-dark lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
            This project will build upon the success of the ENIGMA project in enhancing neural imaging genetics through meta-analysis. In this case, technologies such as EEG and other useful measures in LMIC will be considered to expand the usefulness of the results obtained.
          </p>
          <div class="flex mx-auto justify-center md:justify-start mx-15">
                <a href="{{'/projects' | url}}" class=" mx-auto lg:mx-0 md:mt-5 button-square-primary  ">
                    Coming Soon
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                        stroke="currentColor" class="w-5 h-5 ml-2 -mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-c-bg2-l   max-w-screen-xl rounded-xl px-8 pb-8 pt-8 mx-auto my-8 solid-shadow  ">
      <h3
      class="text-center text-gray-500  lg:text-left mb-4 text-sm/snug tracking-normal md:text-md/snug xl:text-lg/snug ">
      <a href="{{'/projects' | url}}" rel="noopener noreferrer"
      class="text-center text-colour-dark hover:underline  lg:text-left mb-4 width-full text-2xl/snug font-extrabold tracking-normal md:text-3xl/snug xl:text-4xl/snug ">
      Biomarkers of Dementia for Global Health</a></h3>
      

      <div class="flex flex-wrap max-w-screen-xl py-8 mx-auto">
        <div class="flex px-10 py-2 max-w-sm lg:w-1/3 justify-center mx-auto"> 
          <a href="{{'/projects' | url}}">
            <img src={{"/assets/images/content/projects/gbc-bg-thumb.png" | url}} alt="GBC Project Image">
          </a>
        </div>

        <div class="mx-auto place-self-center {% if resource.data.image != ''%}md:w-2/3{%else%}md:w-full{%endif%}">
          <p
            class="select-none text-center lg:text-left mb-5 mt-5 font-light text-colour-dark lg:mb-8 md:text-lg/normal lg:text-xl/normal  ">
            This global project is directed towards the early detection of dementia based on EEG technologies and accessible multi-omics studies. This project attempts to gather and share global data focused on early disease stages to facilitate the development of disease progression models that will allow the management of this pathology in all socioeconomic settings.
          </p>
          <div class="flex mx-auto justify-center md:justify-start mx-15">
                <a href="{{'/projects' | url}}" class=" mx-auto lg:mx-0 md:mt-5 button-square-primary  ">
                    Coming Soon
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                        stroke="currentColor" class="w-5 h-5 ml-2 -mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
          </div>
        </div>
      </div>
    </div>

    </div>

{% endrow %}
